NEXT_PUBLIC_SUPABASE_URL=https://akzpfhqnywavnejzfthc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrenBmaHFueXdhdm5lanpmdGhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIyMzAzMDUsImV4cCI6MjA3NzgwNjMwNX0.EnAbx7nrojo-_ZTsVFzWcvTa2nqeIUx5XF2H_OB1R9Y
